<div class="product" data-ui-component>
  <header class="product__header">
    <h2 class="product__heading">
      {{product_heading}}
    </h2>
  </header>
  <figure class="product__media">
    <img src="{{product_image}}" alt="">
  </figure>
  <p>{{product_description}}</p>
</div>